body {
  font: 12px sans-serif;
  align-content: center;
}
svg {
  outline-style: solid;
  outline-color: #000;
  outline-width: 1px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.legend {

  padding: 5px;

}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
#legenddiv {
  position: absolute;
  left: 1030px;
  top: 100px;

  width: 10%;
}
#legend {
  padding-top: 10%;
  padding-left: 5%;
}